{:kotoba.app/id "cloud.itonami.isic-2029", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigllhhvslfpjm5dw5i7345fzlavwahscleu6xdxle3nzsamduphwm", :kotoba.app/embed-url "ipfs://bafkreigllhhvslfpjm5dw5i7345fzlavwahscleu6xdxle3nzsamduphwm", :published {:archive "https://kotobase.net/ipfs/bafkreigllhhvslfpjm5dw5i7345fzlavwahscleu6xdxle3nzsamduphwm", :size 72700, :put-status 201, :get-status 200, :at "2026-08-15T14:02:13.582Z"}}
